includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application-loader.php
    doctrine:
        objectManagerLoader: tests/object-manager.php

